@font-face {
  font-family: Manrope;
  src: url(../font/Manrope-Medium.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(../font/Manrope-Regular.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.button-primary {
  background: #4285F4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 48px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.button-primary:hover {
  background: #3975DA;
}
.button-primary span {
  font: 500 0.875rem Manrope;
  letter-spacing: 0.16em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 48px;
  cursor: pointer;
  border: 1px solid #4285F4;
  border-radius: 4px;
}
.button-secondary:hover {
  background: #4285F4;
}
.button-secondary:hover span {
  color: white;
}
.button-secondary span {
  font: 500 0.875rem Manrope;
  letter-spacing: 0.16em;
  color: #4285F4;
  text-transform: uppercase;
}

.LRbutton {
  width: 63px;
  height: 56px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.LRbutton::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.LRbutton:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.LRbutton.left::after {
  content: url("../img/arrow-left.svg");
}
.LRbutton.left:hover::after {
  content: url("../img/arrow-left-hover.svg");
}
.LRbutton.right::after {
  content: url("../img/arrow-right.svg");
}
.LRbutton.right:hover::after {
  content: url("../img/arrow-right-hover.svg");
}

h1 {
  font: 400 2.5rem Manrope;
}
h2 {
  font: 400 2rem Manrope;
}
h3 {
  font: 400 1.375rem Manrope;
}
h4 {
  text-transform: uppercase;
  font: 400 0.875rem Manrope;
  letter-spacing: 0.16em;
}

.subtitle {
  font: 400 1.25rem Manrope;
}

body {
  font: 500 1rem Manrope;
}

.caption {
  font: 500 0.8125rem Manrope;
  color: #9C9FA7;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.icon.circle {
  width: 48px;
  height: 48px;
  background: #EFF4F9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.icon.circle:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon.circle.close::after {
  content: url("../img/close.svg");
}
.icon.circle.more::after {
  content: url("../img/more.svg");
}

header .top {
  padding: 25px 0;
}
header .top .container {
  display: flex;
  align-items: center;
}
header .top .container .logo {
  margin-right: 31px;
}
header .top .container .address {
  color: #737881;
  width: 240px;
}
header .top .container .contacts {
  margin-left: auto;
  text-align: right;
  margin-right: 100px;
}
header .bot {
  border-top: 1px solid #DCE1E6;
  border-bottom: 1px solid #DCE1E6;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav a {
  padding: 25px 27px;
  text-transform: uppercase;
}
header nav a h4 {
  color: #737881;
}
header nav a.active, header nav a:hover {
  border-bottom: 2px solid #4285F4;
}
header nav a.active h4, header nav a:hover h4 {
  color: black;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
  margin: auto;
}

section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#popular-services {
  margin-bottom: 70px;
}
#popular-services .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#popular-services .cards .card {
  border: 1px solid #DCE1E6;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  height: 289px;
  width: 583px;
  padding: 34px 0px 32px 34px;
  position: relative;
  margin-bottom: 40px;
}
#popular-services .cards .card .left {
  display: flex;
  flex-direction: column;
}
#popular-services .cards .card .left h3 {
  margin-bottom: 8px;
}
#popular-services .cards .card .left .info {
  max-width: 340px;
  margin-bottom: auto;
  color: #737881;
}
#popular-services .cards .card .left h2 {
  color: #4285F4;
}
#popular-services .cards .card .right {
  position: absolute;
  top: 0;
  right: 0;
}

#doctors {
  margin-bottom: 110px;
}
#doctors .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#doctors .cards .card {
  width: 277px;
}
#doctors .cards .card .photo {
  margin-bottom: 15px;
}
#doctors .cards .card .name {
  margin-bottom: 5px;
}
#doctors .cards .card .info {
  color: #737881;
}

#signup {
  background: linear-gradient(270.17deg, #D0DAEA 0.11%, #F5F5F5 99.15%);
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
#signup .left {
  width: 480px;
  margin-left: 100px;
}
#signup .left h2 {
  margin-bottom: 16px;
}
#signup .left .subtitle {
  color: #737881;
  margin-bottom: 40px;
}
#signup .left form .row {
  display: flex;
}
#signup .left form .row:first-of-type {
  margin-bottom: 18px;
}
#signup .left form .row .input-wrapper {
  position: relative;
}
#signup .left form .row .input-wrapper input[type=tel] {
  background: #FFFFFF;
  border-radius: 4px;
  height: 56px;
  width: 273px;
  border: none;
  padding-left: 54px;
  font-size: 22px;
}
#signup .left form .row .input-wrapper input[type=tel]::placeholder {
  color: #DCE1E6;
}
#signup .left form .row .input-wrapper .plus-seven {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
}
#signup .left form .row button {
  margin-left: auto;
}
#signup .left form .row input[type=checkbox] {
  -moz-appearance: initial;
  visibility: hidden;
  position: relative;
  width: 24px;
  flex-shrink: 0;
  height: 24px;
  margin-right: 14px;
  cursor: pointer;
}
#signup .left form .row input[type=checkbox]::before {
  width: 100%;
  height: 100%;
  visibility: visible;
  position: absolute;
  background: white;
  border-radius: 4px;
  content: "";
}
#signup .left form .row input[type=checkbox]:checked::after {
  content: url("../img/check.svg");
  position: absolute;
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signup .left form .row .caption {
  max-width: 350px;
}
#signup .right {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 1024px) {
  .button-primary span,
.button-secondary span {
    font-size: 0.75rem;
  }

  .LRbutton::after {
    top: calc(50% - 4px);
  }

  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  h3 {
    font-size: 0.9375rem;
  }
  h4 {
    font-size: 0.75rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  body {
    font-size: 0.75rem;
  }

  caption {
    font-size: 0.625rem;
  }
}