@charset "UTF-8";
@font-face {
  font-family: Manrope;
  src: url(../font/Manrope-Medium.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(../font/Manrope-Regular.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all linear 0.1s;
}

html {
  scroll-behavior: smooth;
}

.d-mobile {
  display: none !important;
}

.button-primary {
  background: #4285F4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 48px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.button-primary:hover {
  background: #3975DA;
  text-decoration: none !important;
}
.button-primary span {
  font: 500 0.875rem Manrope;
  letter-spacing: 0.16em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 48px;
  cursor: pointer;
  border: 1px solid #4285F4;
  border-radius: 4px;
}
.button-secondary:hover {
  background: #4285F4;
  text-decoration: none !important;
}
.button-secondary:hover span {
  color: white;
}
.button-secondary span {
  font: 500 0.875rem Manrope;
  letter-spacing: 0.16em;
  color: #4285F4;
  text-transform: uppercase;
}

.LRbutton {
  width: 63px !important;
  height: 56px !important;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 11px);
  transform: translateY(-50%);
  background: white;
}
.LRbutton::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.LRbutton:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.LRbutton.left {
  left: -72px;
}
.LRbutton.left::after {
  content: url("../img/arrow-left.svg");
}
.LRbutton.left:hover::after {
  content: url("../img/arrow-left-hover.svg");
}
.LRbutton.right {
  right: -72px;
}
.LRbutton.right::after {
  content: url("../img/arrow-right.svg");
}
.LRbutton.right:hover::after {
  content: url("../img/arrow-right-hover.svg");
}

h1 {
  font: 400 2.5rem Manrope;
}
h2 {
  font: 400 2rem Manrope;
}
h3 {
  font: 400 1.375rem Manrope;
  margin-bottom: 8px;
}
h4 {
  text-transform: uppercase;
  font: 400 0.875rem Manrope;
  letter-spacing: 0.16em;
}

.subtitle {
  font: 400 1.25rem Manrope;
}

body {
  font: 500 1rem Manrope;
}

.caption {
  font: 500 0.8125rem Manrope;
  color: #737881;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.icon.circle {
  width: 48px;
  height: 48px;
  background: #EFF4F9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.icon.circle:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon.circle.close::after {
  content: url("../img/close.svg");
}
.icon.circle.more::after {
  content: url("../img/more.svg");
}
.icon.call::after {
  content: url("../img/phone-call.svg");
}
.icon.pin::after {
  content: url("../img/pin.svg");
}

header .top {
  padding: 25px 0;
}
header .top .container {
  display: flex;
  align-items: center;
}
header .top .container .logo {
  margin-right: 31px;
}
header .top .container .address {
  color: #737881;
  width: 240px;
}
header .top .container .contacts {
  margin-left: auto;
  text-align: right;
  margin-right: 100px;
}
header .top .container .contacts h3 {
  margin-bottom: 0;
}
header .bot {
  border-top: 1px solid #DCE1E6;
  border-bottom: 1px solid #DCE1E6;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav a {
  padding: 25px 27px;
  text-transform: uppercase;
}
header nav a h4 {
  color: #737881;
}
header nav a.active {
  border-bottom: 2px solid #4285F4;
}
header nav a.active h4 {
  color: black;
}

.container {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: auto;
}

section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#offers {
  margin-top: 42px;
  margin-bottom: 88px;
}
#offers .big-slider {
  position: relative;
}
#offers .big-slider .slide {
  background: linear-gradient(270.17deg, #DAE3F1 0.11%, #F5F5F5 99.15%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  height: 360px;
  padding: 36px 42px;
  position: relative;
}
#offers .big-slider .slide .content {
  width: 632px;
  position: relative;
  z-index: 10;
}
#offers .big-slider .slide .content .date {
  margin-bottom: 13px;
}
#offers .big-slider .slide .content .title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 16px;
}
#offers .big-slider .slide .content .info {
  z-index: 1;
  position: relative;
  color: #737881;
}
#offers .big-slider .slide img {
  position: absolute;
  bottom: 0;
  right: 76px;
}
#offers .big-slider .LRbutton {
  transform: initial;
}
#offers .big-slider .LRbutton.left {
  bottom: 50px;
  right: 120px;
  left: initial;
  top: initial;
  z-index: 10;
}
#offers .big-slider .LRbutton.right {
  bottom: 50px;
  right: 40px;
  left: initial;
  top: initial;
  z-index: 10;
}

#popular-services,
#services {
  margin-bottom: 70px;
}
#popular-services .cards,
#services .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#popular-services .cards .card,
#services .cards .card {
  border: 1px solid #DCE1E6;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  height: 289px;
  width: 583px;
  padding: 34px 0px 32px 34px;
  position: relative;
  margin-bottom: 40px;
}
#popular-services .cards .card .left,
#services .cards .card .left {
  display: flex;
  flex-direction: column;
}
#popular-services .cards .card .left h3,
#services .cards .card .left h3 {
  margin-bottom: 8px;
}
#popular-services .cards .card .left .info,
#services .cards .card .left .info {
  max-width: 340px;
  margin-bottom: auto;
  color: #737881;
}
#popular-services .cards .card .left h2,
#services .cards .card .left h2 {
  color: #4285F4;
}
#popular-services .cards .card .right,
#services .cards .card .right {
  position: absolute;
  top: 0;
  right: 0;
}

#services {
  margin-bottom: 68px;
}
#services .breadcrumbs {
  margin-top: 37px;
  margin-bottom: 6px;
}
#services h1 {
  margin-bottom: 40px;
}

#doctors {
  margin-bottom: 110px;
}
#doctors .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#doctors .cards .card {
  width: 277px;
}
#doctors .cards .card .photo {
  margin-bottom: 15px;
}
#doctors .cards .card .name {
  margin-bottom: 5px;
}
#doctors .cards .card .info {
  color: #737881;
}

#signup {
  background: linear-gradient(270.17deg, #D0DAEA 0.11%, #F5F5F5 99.15%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup .container {
  position: relative;
  height: 511px;
  padding-bottom: 116px;
  padding-top: 116px;
}
#signup .left {
  width: 480px;
  margin-left: 100px;
}
#signup .left h2 {
  margin-bottom: 16px;
}
#signup .left .subtitle {
  color: #737881;
  margin-bottom: 40px;
}
#signup .left form .row {
  display: flex;
}
#signup .left form .row:first-of-type {
  margin-bottom: 18px;
}
#signup .left form .row .input-wrapper {
  position: relative;
}
#signup .left form .row .input-wrapper input[type=tel] {
  background: #FFFFFF;
  border-radius: 4px;
  height: 56px;
  width: 273px;
  border: none;
  padding-left: 54px;
  font-size: 1.375rem;
}
#signup .left form .row .input-wrapper input[type=tel]::placeholder {
  color: #DCE1E6;
}
#signup .left form .row .input-wrapper .plus-seven {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-53%);
}
#signup .left form .row button {
  margin-left: auto;
}
#signup .left form .row input[type=checkbox] {
  -moz-appearance: initial;
  visibility: hidden;
  position: relative;
  width: 24px;
  flex-shrink: 0;
  height: 24px;
  margin-right: 14px;
  cursor: pointer;
}
#signup .left form .row input[type=checkbox]::before {
  width: 100%;
  height: 100%;
  visibility: visible;
  position: absolute;
  background: white;
  border-radius: 4px;
  content: "";
}
#signup .left form .row input[type=checkbox]:checked::after {
  content: url("../img/check.svg");
  position: absolute;
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signup .left form .row .caption {
  max-width: 350px;
}
#signup .right {
  position: absolute;
  right: 140px;
  top: 0;
}

footer {
  padding-top: 56px;
  padding-bottom: 20px;
}
footer .container {
  display: flex;
  margin-bottom: 90px;
}
footer .container:last-child {
  margin-bottom: 0;
}
footer .container .col {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .container .col .addr {
  color: #737881;
}
footer .container .col .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .container .col .title {
  margin-bottom: 27px;
}
footer .container .col .nav {
  margin-bottom: 24px;
  color: #737881;
}
footer .container .col .contacts span {
  font-weight: 400;
  font-size: 0.9375rem;
  color: #737881;
}
footer .container .col .section {
  margin-bottom: 40px;
}
footer .container .col .section:last-child {
  margin-bottom: 0;
}
footer .container .col .section .section-title {
  margin-bottom: 11px;
}
footer .container .col .docs {
  margin-bottom: 33px;
}
footer .container .col .docs .doc {
  display: flex;
  margin-bottom: 19px;
}
footer .container .col .docs .doc:last-child {
  margin-bottom: 0;
}
footer .container .col .docs .doc .caption {
  max-width: 180px;
  color: #737881;
  margin-left: 16px;
}
footer .container .col .other a {
  display: block;
  color: #737881 !important;
}
footer .container .col .other a:first-child {
  margin-bottom: 16px;
}
footer .container .col .logo {
  margin-bottom: 22px;
}
footer .container .col .caption + .caption {
  color: black;
  margin-top: 8px;
}
footer .warning {
  text-align: center;
}
footer .warning img {
  width: 100%;
}

.breadcrumbs {
  margin-top: 36px;
  margin-bottom: 6px;
}
.breadcrumbs a {
  color: #737881;
}
.breadcrumbs a::after {
  content: "—";
  margin-left: 2px;
  margin-right: 2px;
}
.breadcrumbs a:last-child::after {
  content: initial;
}

#doctor-banner {
  background: linear-gradient(270.17deg, #D0DAEA 0.11%, #F5F5F5 99.15%);
}
#doctor-banner .banner-wrapper {
  padding: 37px 105px 64px 105px;
  position: relative;
}
#doctor-banner .banner-wrapper .left {
  height: 320px;
  width: 583px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#doctor-banner .banner-wrapper .left .breadcrumbs {
  margin-bottom: 6px;
  margin-top: 0;
}
#doctor-banner .banner-wrapper .left h1 {
  margin-bottom: 8px;
}
#doctor-banner .banner-wrapper .left .subtitle {
  color: #737881;
}
#doctor-banner .banner-wrapper .left .button-primary {
  margin-top: auto;
}
#doctor-banner .banner-wrapper .right {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 105px;
}

.LR {
  padding: 0 0 0 90px;
  display: flex;
  justify-content: space-between;
}
.LR .left {
  width: 683px;
}
.LR .subnav {
  position: sticky;
  top: 56px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #DCE1E6;
}
.LR .subnav a {
  margin-left: -2px;
  margin-bottom: 4px;
  height: 36px;
  padding-left: 27px;
  display: flex;
  align-items: center;
  border-left: 2px solid #DCE1E6;
  color: #737881;
}
.LR .subnav a.active, .LR .subnav a:hover {
  color: black;
  border-left: 2px solid #4285F4;
}
.LR .right {
  width: 295px;
}

#doctor-about {
  margin-top: 55px;
  margin-bottom: 180px;
}
#doctor-about h3 {
  margin-bottom: 24px;
}

#doctor-about-main {
  margin-bottom: 88px;
}
#doctor-about-main h2 {
  margin-bottom: 16px;
}
#doctor-about-main .subtitle {
  margin-bottom: 32px;
}
#doctor-about-main .links {
  display: flex;
}
#doctor-about-main .links a {
  display: flex;
  margin-right: 24px;
  align-items: center;
}
#doctor-about-main .links a svg:hover path {
  fill: black;
}

#doctor-about-spec {
  margin-bottom: 64px;
}
#doctor-about-spec .tags {
  display: flex;
  flex-wrap: wrap;
}
#doctor-about-spec .tags .tag {
  border: 1px solid #DCE1E6;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 32px;
  margin-right: 16px;
  margin-bottom: 16px;
}
#doctor-about-spec .tags .tag h4 {
  color: #737881;
}

#doctor-about-education {
  margin-bottom: 64px;
}
#doctor-about-education .item {
  display: flex;
  margin-bottom: 40px;
}
#doctor-about-education .item .year {
  flex-shrink: 0;
  margin-right: 32px;
  width: 72px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DCE1E6;
  border-radius: 8px;
}
#doctor-about-education .item .text {
  color: #737881;
}

.doc-slider .slide {
  width: 174px !important;
  height: 250px !important;
}
.doc-slider .slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#doctor-about-docs .doc-slider {
  position: relative;
}
#doctor-about-docs .doc-slider .slide a img {
  border-radius: 8px;
}

#info-general h1 {
  margin-bottom: 8px;
}
#info-general .subnav {
  margin-top: 94px;
}
#info-general .subtitle {
  color: #737881;
  margin-bottom: 33px;
}
#info-general #requisites {
  margin-bottom: 48px;
}
#info-general #requisites h3 {
  margin-bottom: 16px;
}
#info-general #requisites .rows .row {
  display: flex;
  border-top: 1px solid #DCE1E6;
  padding: 16px 0;
}
#info-general #requisites .rows .row:last-child {
  border-bottom: 1px solid #DCE1E6;
}
#info-general #requisites .rows .row .key {
  flex-shrink: 0;
  width: 206px;
}
#info-general #license {
  margin-bottom: 56px;
}
#info-general #license h3 {
  margin-bottom: 32px;
}
#info-general #federal,
#info-general #personal {
  margin-bottom: 56px;
}
#info-general #federal h3,
#info-general #personal h3 {
  margin-bottom: 16px;
}
#info-general #federal a,
#info-general #personal a {
  color: #4285F4;
  display: block;
}
#info-general #federal a:first-of-type,
#info-general #personal a:first-of-type {
  margin-bottom: 24px;
}
#info-general #staff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 56px;
}
#info-general #staff h3 {
  margin-bottom: 24px;
}
#info-general #schedule {
  margin-bottom: 56px;
  color: #737881;
}
#info-general #schedule h3 {
  margin-bottom: 16px;
  color: black;
}
#info-general #personal {
  margin-bottom: 0;
}
#info-general .LR {
  margin-bottom: 100px;
}

.dn {
  display: none !important;
}

@media (max-width: 1024px) {
  .button-primary span,
.button-secondary span {
    font-size: 0.75rem;
  }

  .LRbutton {
    width: 54px !important;
    height: 48px !important;
  }

  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  h3 {
    font-size: 0.9375rem;
  }
  h4 {
    font-size: 0.75rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  body {
    font-size: 0.75rem;
  }

  .caption {
    font-size: 0.625rem;
  }

  .d-desktop {
    display: none !important;
  }

  .d-mobile {
    display: flex !important;
  }

  .container {
    padding: 0 16px;
  }

  section .section-header {
    margin-bottom: 24px;
  }

  #popular-services .cards {
    justify-content: center;
    margin-right: -16px;
  }
  #popular-services .cards .card {
    padding: 20px 0px 24px 16px;
    height: 208px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
    margin-right: 16px;
  }
  #popular-services .cards .card:last-child {
    margin-bottom: 20px;
  }
  #popular-services .cards .card .left .info {
    z-index: 1;
    max-width: 172px;
  }

  #doctors {
    margin-bottom: 72px;
  }
  #doctors .cards {
    justify-content: center;
    margin-right: -16px;
  }
  #doctors .cards .card {
    width: calc((100% - 32px) / 2);
    margin-bottom: 32px;
    margin-right: 16px;
  }
  #doctors .cards .card .photo {
    margin-bottom: 8px;
  }
  #doctors .cards .card .photo img {
    width: 100%;
  }
  #doctors .cards .card .name {
    margin-bottom: 3px;
  }
  #signup .container {
    padding: 40px 16px 24px 16px;
    display: flex;
    justify-content: center;
    height: 410px;
  }
  #signup .right {
    display: none;
  }
  #signup .left {
    width: 288px;
    margin: 0;
  }
  #signup .left br {
    display: none;
  }
  #signup .left h2 {
    margin-bottom: 8px;
  }
  #signup .left .subtitle {
    margin-bottom: 32px;
  }
  #signup .left form .row:first-of-type {
    margin-bottom: 18px;
    flex-direction: column;
  }
  #signup .left form .row button {
    margin-left: initial;
    max-width: 287px;
  }
  #signup .left form .row .input-wrapper input[type=tel] {
    width: 100%;
    margin-bottom: 16px;
  }
  #signup .left form .row .input-wrapper .plus-seven {
    top: calc(50% - 7px);
    font-size: 22px;
  }

  #offers {
    margin-top: 16px;
  }
  #offers .big-slider .slide {
    width: 100%;
    padding: 20px 14px 190px 14px;
    height: initial;
  }
  #offers .big-slider .slide .content {
    width: 100%;
  }
  #offers .big-slider .slide .content .date {
    margin-bottom: 6px;
  }
  #offers .big-slider .slide .content .title {
    margin-bottom: 8px;
    font-size: 24px;
  }
  #offers .big-slider .slide img {
    right: 0;
  }
  #offers .big-slider .LRbutton.left {
    bottom: 20px;
    right: 80px;
  }
  #offers .big-slider .LRbutton.right {
    bottom: 20px;
    right: 20px;
  }

  #doctor-banner .container .banner-wrapper {
    padding: 21px 0 340px 0;
  }
  #doctor-banner .container .banner-wrapper .left {
    width: 100%;
    height: initial;
  }
  #doctor-banner .container .banner-wrapper .left .breadcrumbs {
    margin-bottom: 8px;
  }
  #doctor-banner .container .banner-wrapper .left h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  #doctor-banner .container .banner-wrapper .left .subtitle {
    margin-bottom: 8px;
  }
  #doctor-banner .container .banner-wrapper .left .button-primary {
    min-width: 288px;
    margin-top: 16px;
  }
  #doctor-banner .container .banner-wrapper .right {
    right: 50%;
    transform: translateX(50%);
  }
  #doctor-banner .container .banner-wrapper .right img {
    height: 288px;
    width: 320px;
  }

  #doctor-about {
    margin-top: 32px;
    margin-bottom: 80px;
  }
  #doctor-about h3 {
    margin-bottom: 16px;
  }
  #doctor-about .subnav {
    position: static;
    margin-left: 8px;
    margin-bottom: 32px;
  }

  #doctor-about-main .links a {
    margin-right: 16px;
  }
  #doctor-about-main .links a svg {
    height: 24px;
  }

  #doctor-about-spec .tags .tag {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  #doctor-about-education .item {
    margin-bottom: 30px;
  }

  .doc-slider .slide {
    width: calc(100vw / 4) !important;
    height: initial !important;
  }

  .LR {
    padding: 0;
  }
  .LR .subnav {
    margin-top: 24px !important;
    position: static;
  }
  .LR .left {
    width: 100%;
  }
  .LR .right {
    display: none;
  }

  footer {
    padding-top: 32px;
  }
  footer .container {
    flex-direction: column;
    margin-bottom: 16px;
  }
  footer .container .col {
    width: 100%;
    border-top: 1px solid #DCE1E6;
  }
  footer .container .col:nth-child(3) {
    border-bottom: 1px solid #DCE1E6;
  }
  footer .container .col:nth-child(4) {
    border-top: none;
  }
  footer .container .col .title {
    margin: 0;
    padding: 16px 0;
    width: 100%;
    display: flex;
  }
  footer .container .col .title::after {
    margin-left: auto;
    content: url("../img/arrow-down.svg");
    transition: all linear 0.2s;
  }
  footer .container .col .title.active::after {
    transform: rotate(180deg);
  }
  footer .container .col .content {
    display: none;
  }
  footer .container .col .content > a {
    display: block;
    margin-bottom: 16px;
  }
  footer .container .col .content .section {
    margin-bottom: 16px;
  }
  footer .container .col .content .contacts span {
    font-size: 0.6875rem;
  }
  footer .container .col .content .other {
    margin-bottom: 16px;
  }
  footer .container .col .logo {
    margin-bottom: 16px;
    margin-top: 29px;
  }
  footer .warning {
    padding: 0 16px;
  }
  footer .warning img {
    width: 100%;
  }

  header .top {
    padding: 0;
    padding-top: 16px;
  }
  header .top > .icon {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  header .top .container {
    align-items: flex-start;
    flex-direction: column;
  }
  header .top .container .logo {
    margin-bottom: 20px;
  }
  header .top .container .contacts,
header .top .container .address {
    border: 1px solid #DCE1E6;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
  }
  header .top .container .contacts .icon,
header .top .container .address .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }
  header .top .container .address {
    padding-right: 90px;
    color: black;
  }
  header .bot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 20;
    top: 0;
    background: white;
    height: 100vh;
    width: 100vw;
    padding: 128px 16px 40px 16px;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.2s;
  }
  header .bot.show {
    opacity: 1;
    visibility: visible;
  }
  header .bot > .button-primary {
    margin-top: 24px;
    width: initial;
    padding-left: 24px;
    padding-right: 24px;
  }
  header .bot .icon {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  header .bot .container {
    margin: 0;
  }
  header .bot .container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .bot .container nav a {
    padding: 0;
    margin-bottom: 24px;
  }
  header .bot .container nav a.active {
    border: none;
  }
  header .bot .container nav a h4 {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.375rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  #doctors .cards .card {
    width: calc((100% - 64px) / 4);
  }

  #popular-services .cards .card {
    max-width: calc((100% - 32px) / 2);
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .LR {
    padding: 0;
  }
  .LR .left {
    margin-right: 64px;
    flex-shrink: 1;
  }
  .LR .right {
    flex-shrink: 0;
  }

  #doctor-about-docs .doc-slider {
    width: calc(100% - 80px);
    margin-left: 64px;
  }

  #popular-services .cards .card {
    width: 49%;
  }

  #doctors .cards .card {
    width: 24%;
  }
  #doctors .cards .card .photo img {
    width: 100%;
  }

  #signup .left {
    position: relative;
    z-index: 10;
  }

  footer .container {
    justify-content: space-between;
  }
  footer .col {
    width: 24% !important;
  }
}